/* 
	bootstrap 覆盖样式
	2017.1.4 UI组
*/
body,html{
	font-family: "Microsoft Yahei";
}
.page-sidebar-menu >li >a>i{
	width: 20px;
}
/* 新增表格thead颜色 */
.table thead{
	background: #0099cb;
	color: #fff;
	text-align: center;
}
.table thead th{
	font-weight: normal;
}
.table>thead>tr>td, .table>thead>tr>th{
	border-bottom-width: 0px;
}
/* 删除panel head背景色 */
.panel .panel-heading{
	background: none
}
/* 修改顶部导航颜色 */
.breadcrumb{
	background:#fff;
	border-bottom:1px solid #ddd;
}
.breadcrumb li{
	color: #217aca;
}
.breadcrumb li.active{
	color: #333;
}
/* 覆盖button样式 取消圆角 */
.btn{
	border-radius: 0;
}
/* 新增button圆角样式 */
.btn-radius{
	border-radius: 4px;
}
/* 覆盖a链接样式 */
a{
	color: #1f7ed0
}
/* 覆盖label样式 */
label{
	font-weight: 400;
}