.xsDbrw{
	height: 240px;
}
.xsDbrw>div{
	padding-top:18px;
}
.task_show{
	height:100px;
}
.xsDbrw .item{
	text-align: center;
	color: #fff;
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
	height: 100px;
	margin-left: 1%;
    float: left;
}
.xsDbrw .item img{
	width: 45px;
}
.xsDbrw .item span{
	display: block;
	text-align: center;
	padding-top: 5px;
}
.xsDbrw .item .xs_hover{
	display: none;
	height: 100px;
	transition:all .3s;
}
.xsDbrw .item7 .xs_hover, .xsDbrw .item5 .xs_hover{
	margin-top: -10px;
}
.xsDbrw .item .xs_hover span{
	font-size: 16px;
	margin-bottom: 10px;
	text-align: center;
}
.xsDbrw .item7 .xs_hover span, .xsDbrw .item5 .xs_hover span{
	font-size: 14px;
	line-height:18px;
	margin-bottom: 8px;
	text-align: center;
}
.xsDbrw .item .xs_hover a{
	display: inline-block;
	border: 1px solid #fff;
	text-align: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.xsDbrw .item:hover>img{
	display: none;
}
.xsDbrw .item:hover>span{
	display: none;
}
.xsDbrw .item:hover .xs_hover{
	display: block;
}
.item1{
	width:34%;
	background-color: #f8afaf;
}
/* .item1 img,
.item7 img{
	padding-top: 20px;
}
.item8 img{
	padding-top: 20px;
}
.item1:hover .xs_hover,
.item7:hover .xs_hover{
	padding-top: 20px;
	
}
.item8:hover .xs_hover{
	padding-top: 20px;
} */
.item2{
	background-color: #f3b989;
	width: 40%;
	float: left;
	padding-top: 20px;
}
.item3{
	background-color: #46db96;
	width: 23%;
	margin-left: 1%;
	float: left;
	padding-top: 20px;
}
.item4{
	background-color: #5eb9e3;
	width:34%;
	margin-top: 4px;
	padding-top: 30px;
}
.item5{
	background-color: #c58cf1;
	width:23%;
	margin-top: 4px;
	padding-top: 30px;
}
.item6{
	width:40%;
	background-color: #f0e139;
	margin-top: 4px;
	padding-top: 20px;
}
.item7{
	width:34%;
	background-color: #ff9a9b;
	margin-top: 4px;
}
.item8{
	width:30%;
	background-color: #93c1cb;
	margin-top: 4px;
}
.item9{
	width:33%;
	background-color: #47d6e4;
	margin-top: 4px;
}
.progress-bar{ background-color: #7cbfe5;background-image:none; }